<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
	    <!-- Private nuget package feed for custom OpenStrata extensions or other ALM packages applicable to all stages. -->
		<add key="ALMRestoreFeed" value="ALMRestoreFeed.1" />

        <!-- Private nuget package feed for Stage Dependencies. (i.e. Dev, QA, UAT, Prod) -->
		<add key="StageRestoreFeed" value="StageRestoreFeed.1" />
		
		<!-- nuget.org is used for common packages. -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>