# branch-nugetRestore.yml

steps:
- pwsh: |
     echo "running nugetRestore.yml"    
     $defaultPushSourceNode = Select-Xml -Path $(nugetConfigPath) -XPath '/configuration/config/add[@key="defaultPushSource"]' | Select-Object -ExpandProperty Node
     $pushsource = $defaultPushSourceNode.value
     echo "##vso[task.setvariable variable=nugetPushSource]$pushsource"
  condition: eq(variables['nugetPushSource'], '')
  displayName: 'nugetRestore.yml'

- task: NuGetToolInstaller@1

- task: NuGetAuthenticate@1
  inputs:
    forceReinstallCredentialProvider: true

- pwsh: |
        # dotnet nuget add source ALMRestoreFeed --configfile $(nugetConfigPath)
        dotnet new install OJAG.OpenStrata.NET.Templates --nuget-source $(ALMRestoreFeed)
        echo 'new ojagdevops -n $(Build.Repository.Name) --force'
        dotnet new ojagdevops -n $(Build.Repository.Name) --force
        echo 'new ojaggitignore -n $(Build.Repository.Name) --force'        
        dotnet new ojaggitignore -n $(Build.Repository.Name) --force
  displayName: Update ALM Files
  workingDirectory: '$(Build.SourcesDirectory)'

# - task: NuGetCommand@2
#   inputs:
#     command: 'restore'
#     restoreSolution: '**/*.sln'
#     feedsToUse: 'config'
#     nugetConfigPath: $(nugetConfigPath)
#   displayName: 'Restore Nuget Packages'

- task: MSBuild@1
  inputs:
    solution: $(BuildSolutionPath)
    msbuildArchitecture: 'x64'
    configuration: $(BuildConfiguration)
    msbuildArguments: -t:restore -p:RestoreConfigFile=$(nugetConfigPath) -p:Stage=$(Stage) -p:WithEnvDevops=$(WithEnvDevops)
  displayName: MSBuild Restore