# build.yml

parameters:
- name: wh_payload
  type: object
  default:  
- name: Stage
  type: string
  default: not-specified


steps:
- script: echo Running build.yml

- task: MSBuild@1
  inputs:
    solution: $(BuildSolutionPath)
    msbuildArchitecture: 'x64'
    configuration: $(BuildConfiguration)
    msbuildArguments: -p:Stage=${{ parameters.Stage }}
  displayName: MSBuild -p:Stage=${{ parameters.Stage }}