#commit.yml
parameters:
- name: wh_payload
  type: object
  default:  
- name: CheckoutBranch
  type: string
- name: CommitComments
  type: string

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |

      git config user.email "VssAdministrator@fv-az843-373.(none)"
      git config user.name "VssAdministrator"  
      git switch -C '${{ parameters.CheckoutBranch}}' --progress -f            

      if [ -z "$(git status --porcelain)" ]; then 
        # Working directory clean
        echo 'clean'
        exit 0
      fi 

      echo 'dirty'
    

      echo "rm -r --cached ."
      git rm -r --cached .

      echo "git add --all . "      
      git add --all . 

      git commit -m "${{ parameters.CommitComments}}'" 
     
      git push --set-upstream origin ${{ parameters.CheckoutBranch}}
        
      echo "##vso[task.logissue type=warning;]Refresh triggered changes which require commit."
      # echo "##vso[task.setvariable variable=executePush;]false"
      # echo "##vso[task.complete result=SucceededWithIssues;]"
        
      exit 0

    workingDirectory: '$(Build.SourcesDirectory)'
  displayName: 'Commit changes'