# deploy.yml

parameters:
  - name: wh_payload
    type: object
    default:  
  - name: Environment
    type: string
  - name: Stage
    type: string
    default: not-specified

steps:
- script: echo Running deploy.yml

- task: PowerPlatformDeployPackage@2
  inputs:
    authenticationType: 'PowerPlatformSPN'
    PowerPlatformSPN: '$(ppspn_connection)'
    Environment: '${{ parameters.Environment}}'
    PackageFile: '$(Build.SourcesDirectory)\package\bin\$(BuildConfiguration)\package.zip'
    logConsole: true