parameters:
  - name: wh_payload
    type: object
    default:  

variables:
- template: variables.yml
  parameters:
     wh_payload: ${{ parameters.wh_payload}}

steps:  
- script: |
    echo "Repo: ${{ parameters.wh_payload.repo}}"
    echo "Branch: ${{ parameters.wh_payload.branch}}"
    echo "Action: ${{ parameters.wh_payload.action}}"
    echo "projectName: ${{ parameters.wh_payload.projectName}}"   
    echo "environmentId: ${{ parameters.wh_payload.environmentId}}"   
    echo "orgUniqueName: ${{ parameters.wh_payload.orgUniqueName}}"   
    echo "organizationId: ${{ parameters.wh_payload.organizationId}}"   
    echo "tenantId: ${{ parameters.wh_payload.tenantId}}"   
    echo "orgUrl: ${{ parameters.wh_payload.orgUrl}}"
    echo "correlationId: ${{ parameters.wh_payload.correlationId}}" 
  displayName: ${{ parameters.wh_payload.action}} (${{ parameters.wh_payload.branch}})

# Check out the code and keep the token so we can tag the repository
- checkout: self
  persistCredentials: true
  clean: true
 
- task: UseNode@1
  inputs:
    version: '16.x'
  displayName: 'Install Node.js'

- template: nugetRestore.yml
  parameters:
    wh_payload:  ${{ parameters.wh_payload }}
    Stage: ${{ parameters.wh_payload.branch}}
    CheckoutBranch: ${{ parameters.wh_payload.branch}}
    CommitComments: ${{ parameters.wh_payload.comment}}

- ${{ if eq(parameters.wh_payload.branch, 'dev') }}:
  - template: export.yml
    parameters:
      wh_payload:  ${{ parameters.wh_payload }}
      Environment: ${{ parameters.wh_payload.orgUrl}}
      SolutionName: ${{ parameters.wh_payload.solutionName}}
      CheckoutBranch: ${{ parameters.wh_payload.branch}}
      CommitComments: ${{ parameters.wh_payload.comment}}
      ExportStagingFolder: $(Agent.Workfolder)/exportStaging
      Stage: ${{ parameters.wh_payload.branch}}

- ${{ if eq(parameters.wh_payload.action, 'Publish') }}:
  - template: publish.yml
    parameters:
      wh_payload:  ${{ parameters.wh_payload }}
      Stage: ${{ parameters.wh_payload.branch}}
      
  
- ${{ if eq(parameters.wh_payload.action, 'Update') }}:
  - template: update.yml
    parameters:
      wh_payload:  ${{ parameters.wh_payload }}
      Environment: ${{ parameters.wh_payload.orgUrl}}
      Stage: ${{ parameters.wh_payload.branch}}
        

- ${{ if eq(parameters.wh_payload.action, 'Push') }}:
  - template: push.yml
    parameters:
      wh_payload:  ${{ parameters.wh_payload }}
      SourceBranch: ${{ parameters.wh_payload.branch}}
      Push2Branch: ${{ parameters.wh_payload.push2branch}}

 

  

