# nugetRestore.yml

parameters:
  - name: wh_payload
    type: object
    default:
  - name: Stage
    type: string
    default: not-specified
  - name: CheckoutBranch
    type: string
  - name: CommitComments
    type: string

steps:
- pwsh: |
     echo "running nugetRestore.yml"    
     $defaultPushSourceNode = Select-Xml -Path $(nugetConfigPath) -XPath '/configuration/config/add[@key="defaultPushSource"]' | Select-Object -ExpandProperty Node
     $pushsource = $defaultPushSourceNode.value
     echo "##vso[task.setvariable variable=nugetPushSource]$pushsource"
  condition: eq(variables['nugetPushSource'], '')
  displayName: 'nugetRestore.yml'

- task: NuGetToolInstaller@1

- task: NuGetAuthenticate@1
  inputs:
    forceReinstallCredentialProvider: true

- pwsh: |
        # dotnet nuget add source ALMRestoreFeed --configfile $(nugetConfigPath)
        dotnet new install OJAG.OpenStrata.NET.Templates --nuget-source $(ALMRestoreFeed)
        echo 'new ojagdevops -n ${{ parameters.wh_payload.solutionName }} --force'
        dotnet new ojagdevops -n ${{ parameters.wh_payload.solutionName }} --force
        echo 'new ojaggitignore -n ${{ parameters.wh_payload.solutionName }} --force'        
        dotnet new ojaggitignore -n ${{ parameters.wh_payload.solutionName }} --force
  displayName: Update ALM Files
  workingDirectory: '$(Build.SourcesDirectory)'

# - task: NuGetCommand@2
#   inputs:
#     command: 'restore'
#     restoreSolution: '**/*.sln'
#     feedsToUse: 'config'
#     nugetConfigPath: $(nugetConfigPath)
#   displayName: 'Restore Nuget Packages'

- task: MSBuild@1
  inputs:
    solution: $(BuildSolutionPath)
    msbuildArchitecture: 'x64'
    configuration: $(BuildConfiguration)
    msbuildArguments: -t:restore -p:RestoreConfigFile=$(nugetConfigPath)
  displayName: MSBuild -t:restore


- ${{ if eq(parameters.wh_payload.branch, 'dev') }}:
  - template: commit.yml
    parameters:
      wh_payload:  ${{ parameters.wh_payload }}
      CheckoutBranch: ${{ parameters.CheckoutBranch }}
      CommitComments: ${{ parameters.CommitComments }}

